.shiny-text {
  color: #3f403f;
  background-image: linear-gradient(
    90deg,
    #3f403f 0%,
    #3f403f 40%,
    #ffffff 50%,
    #939f5c 51%,
    #ffffff 52%,
    #3f403f 60%,
    #3f403f 100%
  );
  background-size: 300% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  display: inline-block;
  animation: shine 3s ease-in-out infinite;
}

@keyframes shine {
  0% {
    background-position: -100%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 100%;
  }
}

.shiny-text.disabled {
  animation: none;
  color: #3f403f;
  background: none;
  -webkit-text-fill-color: #3f403f;
  -webkit-background-clip: unset;
  background-clip: unset;
}